[Unit]
Description=Efk service

[Service]
Type=simple
LimitNOFILE=100000

ExecStart=/usr/bin/java -Dname=EFK-SERVICE -Dfile.encoding=UTF-8 -jar bin/efk-stack-0.0.1-SNAPSHOT.jar

WorkingDirectory=/home/ec2-user

[Install]
WantedBy=multi-user.target

